
{% extends 'base.html' %}

{% block content %}
    <h1>Admin > Users > Update</h1>
    <div>
        <form method="post" action="/admin/users/update">
            {{ form.csrf_token }}

            <div>
                Provide a Name of a User to Update
            </div>
            <div> 
                {{form.name.label}} {{form.name(size=20)}}
            </div>
            <div>
                {{form.nickname.label}} {{form.nickname(size=20)}}
            </div>
            <div>
                {{form.age.label}} {{form.age}}
            </div>
            
            <div>
                {{form.cool.label}} {{form.cool}}
            </div>

            <div>
                {{form.submit}}
            </div>
        </form>
    </div>

{% endblock %}