<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/admin/organizations">Admin > Organizations</a></li>
            <li><a href="/admin/organizations/create">Admin > Organizations > Create</a></li>
        </ul>
    </div>
    {% block content%}
    {% endblock %}
    <style>
        * {
            padding: .25%;
            margin: .25%;
        }
    </style>
</body>
</html>